{% extends "CoreBundle::layout:base.html.twig" %}

{% block title %}
    {{ 'post.by.author' | trans({'%name%': author.name}) }}
{% endblock %}

{% block sidebar %}
    <aside>
    	<h2> {{ 'post.by' | trans }} </h2>
    	<p> {{ author.name }} </p>
    </aside>
{% endblock %}

{% block section %}
    
	{% for post in posts %}
	    
		{{ include('CoreBundle:Post:_post.html.twig', { post: post }) }}

	{% endfor %}

{% endblock %}